<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisarCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <servlet-class>controller.PesquisarAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <servlet-class>controller.PesquisarProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <servlet-class>controller.PesquisarProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <servlet-class>controller.PesquisarSubAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAreaController</servlet-name>
        <servlet-class>controller.PesquisarAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEditalController</servlet-name>
        <servlet-class>controller.PesquisarEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFomentoController</servlet-name>
        <servlet-class>controller.PesquisarFomentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSetorController</servlet-name>
        <servlet-class>controller.PesquisarSetorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDiretoriaController</servlet-name>
        <servlet-class>controller.PesquisarDiretoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAreaController</servlet-name>
        <servlet-class>controller.ManterAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDiretoriaController</servlet-name>
        <servlet-class>controller.ManterDiretoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEditalController</servlet-name>
        <servlet-class>controller.ManterEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFomentoController</servlet-name>
        <servlet-class>controller.ManterFomentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProfessorController</servlet-name>
        <servlet-class>controller.ManterProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProjetoController</servlet-name>
        <servlet-class>controller.ManterProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterSetorController</servlet-name>
        <servlet-class>controller.ManterSetorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterSubAreaController</servlet-name>
        <servlet-class>controller.ManterSubAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAlunoController</servlet-name>
        <servlet-class>controller.RelatorioAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProjetoCompletoController</servlet-name>
        <servlet-class>controller.RelatorioProjetoCompletoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioEditalDiretoriaController</servlet-name>
        <servlet-class>controller.RelatorioEditalDiretoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAlunoCursoController</servlet-name>
        <servlet-class>controller.RelatorioAlunoCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioEditalController</servlet-name>
        <servlet-class>controller.RelatorioEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDiretoriaController</servlet-name>
        <servlet-class>controller.RelatorioDiretoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCursoController</servlet-name>
        <servlet-class>controller.RelatorioCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAreaController</servlet-name>
        <servlet-class>controller.RelatorioAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProjetoController</servlet-name>
        <servlet-class>controller.RelatorioProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProfessorController</servlet-name>
        <servlet-class>controller.RelatorioProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioParametroAlunoController</servlet-name>
        <servlet-class>controller.RelatorioParametroAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioController</servlet-name>
        <servlet-class>controller.RelatorioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioParametroEditalController</servlet-name>
        <servlet-class>controller.RelatorioParametroEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioParametroProjetoController</servlet-name>
        <servlet-class>controller.RelatorioParametroProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exception</servlet-name>
        <servlet-class>exception.Exception</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarCursoController</servlet-name>
        <url-pattern>/PesquisarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <url-pattern>/PesquisarAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <url-pattern>/PesquisarProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <url-pattern>/PesquisarProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <url-pattern>/PesquisarSubAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAreaController</servlet-name>
        <url-pattern>/PesquisarAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEditalController</servlet-name>
        <url-pattern>/PesquisarEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarFomentoController</servlet-name>
        <url-pattern>/PesquisarFomentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSetorController</servlet-name>
        <url-pattern>/PesquisarSetorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDiretoriaController</servlet-name>
        <url-pattern>/PesquisarDiretoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAreaController</servlet-name>
        <url-pattern>/ManterAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDiretoriaController</servlet-name>
        <url-pattern>/ManterDiretoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEditalController</servlet-name>
        <url-pattern>/ManterEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFomentoController</servlet-name>
        <url-pattern>/ManterFomentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProfessorController</servlet-name>
        <url-pattern>/ManterProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProjetoController</servlet-name>
        <url-pattern>/ManterProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterSetorController</servlet-name>
        <url-pattern>/ManterSetorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterSubAreaController</servlet-name>
        <url-pattern>/ManterSubAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAlunoController</servlet-name>
        <url-pattern>/RelatorioAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProjetoCompletoController</servlet-name>
        <url-pattern>/RelatorioProjetoCompletoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioEditalDiretoriaController</servlet-name>
        <url-pattern>/RelatorioEditalDiretoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAlunoCursoController</servlet-name>
        <url-pattern>/RelatorioAlunoCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioEditalController</servlet-name>
        <url-pattern>/RelatorioEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDiretoriaController</servlet-name>
        <url-pattern>/RelatorioDiretoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCursoController</servlet-name>
        <url-pattern>/RelatorioCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAreaController</servlet-name>
        <url-pattern>/RelatorioAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProjetoController</servlet-name>
        <url-pattern>/RelatorioProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProfessorController</servlet-name>
        <url-pattern>/RelatorioProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioParametroAlunoController</servlet-name>
        <url-pattern>/RelatorioParametroAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioController</servlet-name>
        <url-pattern>/RelatorioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioParametroEditalController</servlet-name>
        <url-pattern>/RelatorioParametroEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioParametroProjetoController</servlet-name>
        <url-pattern>/RelatorioParametroProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exception</servlet-name>
        <url-pattern>/Exception</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
           /TratamentoExcecao
        </location>
    </error-page>
</web-app>
